<!-- <app-products-home></app-products-home> -->
<!-- <app-login></app-login> -->
 <!-- <app-example></app-example> -->

 <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" >Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" routerLink="/students" >Students</a>
        <a class="nav-link" routerLink="/teachers">Teacher</a>
        <a class="nav-link" routerLink="/school">School</a>
        <a class="nav-link" routerLink="/principal">Principal</a>
      </div>
    </div>
  </div>
</nav>
<button class="bg-green" >Click</button>
<router-outlet></router-outlet>
  <!-- <ul>
    <li routerLink="/homee">Home</li>
    <li [routerLink]="['dash-board', 'Hii']">DashBoard</li>
    <li>Over-View</li>
    <li routerLink="/reactive-forms">Reactive Form</li>
    <li routerLink="pipes">Pipes</li>
    <li routerLink="/animations">Animations</li>
  </ul>
  <div style="background-color:aquamarine">
        <router-outlet></router-outlet>

  </div> -->
   <!-- <app-student></app-student> -->
   <!-- <app-teacher></app-teacher> -->
   <!-- <app-school></app-school> -->
   <!-- <app-principal></app-principal> -->